html{
    font-size:62.5%;
}

body{
    background:$dark-blue;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}
h1{
    font-size: 1rem;
}
button{
    cursor: pointer;
}
button:disabled{
    cursor: default;
}